*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


google-services.json
# Kotlin
*.kt~
*.kotlin_bak
*.kotlin_bak~
*.kotlin_module
*.kotlin_cache/
*.kotlin_build/
*.kotlin_tasks/
.idea/
.gradle/
build/
